body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  background-color: #a6c9ff;
  height: 140vh;
}

.header {
  width: 100%;
  height: 148px;
  background: #b47ff6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 285px;
  position: relative;
  /* top: 55px; */
  left: 155.36px;
}

.text_menu {
  color: #ffffff;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.text_menu_one {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
}

.underline {
  text-decoration: underline;
}

.burger_menu {
  cursor: pointer;
  position: relative;
  top: 0px;
  gap: 12px;
  /* left: 1071px; */
  right: 55.63px;
  height: 24px;
  width: 43.37px;
  display: flex;
  flex-direction: column;
}

.bar {
  width: 100%;
  position: relative;
  height: 1px;
  height: 100%;
  background-color: #ffffff;
  border: 1.8px solid #ffffff;
  margin-bottom: -2px;
  border-radius: 3px;
}

.main {
  position: relative;
  top: 40px;
  width: 100%;
  height: 176px;
  background: #7029cb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.text_main {
  width: 452px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* left: 308.22px; */
}

.open_popup {
  background-color: #ff4b4b;
  width: 262px;
  height: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}

.h1_text {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.arror_one {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

.forH2 {
  position: relative;
  top: 63px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  height: 45px;
}

.h2_text {
  position: relative;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  color: #ffffff;
}

.forFiveBlock {
  position: relative;
  width: 100%;
  height: 413px;
  background-color: #bcb7ff;
  top: 50px;
}

.block {
  background-color: #3ade4b;
}

.block1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 53px;
  color: white;
  width: 392px;
  height: 198px;
  margin-bottom: 13px;
}

.block1::before {
  content: '1';
}

.block3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 53px;
  color: white;
  width: 995px;
  height: 198px;
  top: -200px;
}

.block3::before {
  content: '3';
}

.block2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 53px;
  color: white;
  width: 765px;
  height: 198px;
  top: -211px;
  left: 405px;
}

.block2::before {
  content: '2';
}

.block4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 53px;
  color: white;
  width: 162px;
  height: 198px;
  top: -398px;
  left: 1008px;
}
.block4::before {
  content: '4';
}

.forH2_second {
  position: relative;
  width: 100%;
  top: 90px;
  display: flex;
  justify-content: center;
}

.h2_text_second {
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
}

.something {
  width: 1120px;
  height: 248px;
  position: relative;
  background-color: #d4ff5a;
  left: 25px;
  top: 118px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-sizing: border-box;
}

.something_five {
  width: 198px;
  height: 198px;
  background-color: #497957;
  border-radius: 35px;
  border: 2px solid #00ff4a;
}
